body {
    margin:0;
    padding:0;
    -ms-user-select: none; 
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

progress::-webkit-progress-value {   
    background-color:#d5c9dd;  
    border:0;
    border-radius: 9px; }

progress {
    background-color:#d5c9dd;
    border:0;
    border-radius: 9px;
}

progress::-webkit-progress-bar {   
    background-color:rgba(180, 180, 180);
    border:0;
    border-radius: 9px; }



.frame{
    background-color: #f3f3f3;
    width: 100%;
    height: 100%;
    position: fixed;   
    overflow-y:scroll;
    overflow-x:hidden;
    left: 300px;
    top: 0%;
}

.Userimg{
    position: absolute;
    top:15px;
    width:300px;
    text-align:center;
}

.Userid{
    position: absolute;
    /* left: 110px; */
    top: 172px;
    overflow: hidden;
    width: 300px;
    text-align: center;
}

.Userid u {
 text-decoration-line:none;   
 font-size:1.1em;
 font-weight: bolder;
}

.Logout{
    position: absolute;
    top: 200px;
    width: 300px;
    text-align: center;
    /* left: 110px; */
}

.Logout input{
    border: none;
    font-size: 1.1em;
    border-radius: 10px;
    width: 80px;
    height: 30px;
}

.Logout input:hover{
    cursor: pointer;
}

.Setting{
    position: absolute;
    left: 260px;
    top:0px;
}

#setting{
    border: none;
    background: none;
}

#setting:hover{
    cursor: pointer;
}

.Label{
    position: absolute;
    left: 25px;
    top: 240px;
}

.Label input{
    background: #D5C9DD;
    border-radius: 5px;
    border: none;
    color: white;
    width: 250px;
    height: 47px;
    font-size: 2.4em;
    font-weight: bold;
    letter-spacing: 5px;
    text-align: center;
}

.Train{
    position: absolute;
    left: 25px;
    top: 300px;
}

.Train input{
    border-radius: 5px;
    border: none;
    width: 250px;
    height: 47px;
    font-size: 2.4em;
    font-weight: bold;
    letter-spacing: 5px;
    text-align: center;
    background-color: white;
}

.Train input:hover{
    background-color: rgba(0,0,0,0.07);
    cursor: pointer;
}

.Predict{
    position: absolute;
    left: 25px;
    top: 360px;
}

.Predict input{
    border-radius: 5px;
    border: none;
    width: 250px;
    height: 47px;
    font-size: 2.4em;
    font-weight: bold;
    letter-spacing: 5px;
    text-align: center;
    background-color: white;
}

.Predict input:hover{
    background-color: rgba(0,0,0,0.07);
    cursor: pointer;
}


.Unlabelimg{
    position: absolute;
    top: 165px;
    left: -5px;
}

#UnlabelB{
    width: 250px;
    height: 47px;
    position: absolute;
    top: 420px;
    left: 30px;
    border-radius: 5px;
    border: none;
    background-color: white;
}

.Unlabeltxt{
    position: absolute;
    width: auto;
    left: 15px;
    top: 6px;
    font-size: 1.2em;
    text-align: left;
}

.Unlabelresult{
    position: absolute;
    top: 6px;
    right: 15px;
    font-size: 1.2em;
    text-align: right;
}

.Unlabelprog{
    position: absolute;
    top: 28px;
    left: 11px;
}

#UnlabelB:hover{
    background-color: rgba(0,0,0,0.07);
    cursor: pointer;
}

.Delete{
    position: absolute;
    /*top: 660px;*/
    bottom: 2.5%;
    left: 73px;
}

.Delete input{
    border-radius: 5px;
    border: none;
    width: 150px;
    height: 50px;
    font-size: 1.2em;
}

.Delete input:hover{
    cursor: pointer;
}


#container {
    margin: 0px auto;
    width: 800px;
    height: 600px;
    position: absolute;
    top:50%;
    left:40.5%;
    transform:translate(-50%,-50%);
}

#camera_canvas, #output {
    transform: rotateY(180deg);
    position: absolute
    
}

#camera_canvas {
    z-index: -1000;
    display: none
}

#videoElement {
    width: 800px;
    height: 600px;
    transform: rotateY(180deg);
    background-color: rgba(0,0,0,0.1);
    border-radius: 20px;
}

h1{
    position: absolute;
    left: 50px;
}

#capture{
    background-color: rgba(138, 138, 138, 0.8);
    width: 70px;
    height: 70px;
    position: absolute;
    left: 47%;
    bottom: 3%;
    border-radius: 35px;
    border-color: white;
    border-style: solid;
    border-width: 4px;
}

#capture:hover{
    cursor: pointer;
    background-color: rgb(107, 106, 106)
}

.Done{
    position: absolute;
    top: 20px;
    right: 20px;
}

.Done input{
    background-color: #D5C9DD;
    border: none;
    font-size: 1.3em;
    width: 90px;
    height: 40px;
    font-weight: bolder;
    color: white;
    border-radius: 15px;
}

.Done input:hover{
    cursor: pointer;
}