.frame{
    background-color: #f3f3f3;
    width: 100%;
    height: 100%;
    position: fixed;
    left: 300px;
    top: 0%;
}

.Userimg{
    position: absolute;
    left: 74px;
    top: 15px;
}

.Userid{
    position: absolute;
    left: 121px;
    top: 172px;
    font-size: 1em;
}

.Setting{
    position: absolute;
    left: 170px;
    top:173px;
}

#setting{
    border: none;
    background: none;
}

#setting:hover{
    cursor: pointer;
}

.Logout{
    position: absolute;
    left: 121px;
    top: 196px;
}

.Logout input{
    border-radius: 5px;
    border: none;
    width: 50px;
    height: 20px;
    font-size: 1em;
}

.Logout input:hover{
    cursor: pointer;
}

.Label{
    position: absolute;
    left: 25px;
    top: 240px;
}

.Label input{
    background: #D5C9DD;
    border-radius: 5px;
    border: none;
    color: white;
    width: 250px;
    height: 47px;
    font-size: 2.4em;
    font-weight: bold;
    letter-spacing: 5px;
    text-align: center;
}

.Train{
    position: absolute;
    left: 25px;
    top: 300px;
}

.Train input{
    border-radius: 5px;
    border: none;
    width: 250px;
    height: 47px;
    font-size: 2.4em;
    font-weight: bold;
    letter-spacing: 5px;
    text-align: center;
    background-color: white;
}

.Train input:hover{
    background-color: rgba(0,0,0,0.07);
    cursor: pointer;
}

.Predict{
    position: absolute;
    left: 25px;
    top: 360px;
}

.Predict input{
    border-radius: 5px;
    border: none;
    width: 250px;
    height: 47px;
    font-size: 2.4em;
    font-weight: bold;
    letter-spacing: 5px;
    text-align: center;
    background-color: white;
}

.Predict input:hover{
    background-color: rgba(0,0,0,0.07);
    cursor: pointer;
}

.Delete{
    position: absolute;
    /*top: 660px;*/
    bottom: 2.5%;
    left: 73px;
}

.Delete input{
    border-radius: 5px;
    border: none;
    width: 150px;
    height: 50px;
    font-size: 1.2em;
}

.Delete input:hover{
    cursor: pointer;
}

.Countbox{
    overflow: auto;
    position: absolute;
    top: 420px;
    /*bottom: 80px;*/
    left: 25px;
    width: 250px;
    height: 30%;
}

.Allprog{
    position: absolute;
    left: 10px;
    top: 25px;
}

.Alltxt{
    position: absolute;
    left: 10px;
    top: 2px;
    font-size: 1em;
}

.Allresult{
    position: absolute;
    top: 2px;
    left: 220px;
    text-align: right;
    font-size: 1em;
}

.Prog1{
    position: absolute;
    left: 10px;
    top: 65px;
}

.Ltxt1{
    position: absolute;
    left: 10px;
    top: 44px;
    text-align: left;
    font-size: 1em;
}

.Result1{
    position: absolute;
    top: 44px;
    left: 220px;
    text-align: right;
    font-size: 1em;
}

.Prog2{
    position: absolute;
    left: 10px;
    top: 105px;
}

.Ltxt2{
    position: absolute;
    left: 10px;
    top: 84px;
    text-align: left;
    font-size: 1em;
}

.Result2{
    position: absolute;
    top: 84px;
    left: 220px;
    text-align: right;
    font-size: 1em;
}


#container {
    margin: 0px auto;
    width: 800px;
    height: 600px;
    position: absolute;
    top:50%;
    left:40.5%;
    transform:translate(-50%,-50%);
}

#camera_canvas, #output {
    transform: rotateY(180deg);
    position: absolute
    
}

#camera_canvas {
    z-index: -1000;
    display: none
}

#videoElement {
    width: 800px;
    height: 600px;
    transform: rotateY(180deg);
    background-color: rgba(0,0,0,0.1);
    border-radius: 20px;
}

h1{
    position: absolute;
    left: 50px;
}

#capture{
    background-color: rgba(138, 138, 138, 0.8);
    width: 70px;
    height: 70px;
    position: absolute;
    left: 47%;
    bottom: 3%;
    border-radius: 35px;
    border-color: white;
    border-style: solid;
    border-width: 4px;
}

#capture:hover{
    cursor: pointer;
    background-color: rgb(107, 106, 106)
}

.Done{
    position: absolute;
    top: 20px;
    right: 20px;
}

.Done input{
    background-color: #D5C9DD;
    border: none;
    font-size: 1.3em;
    width: 90px;
    height: 40px;
    font-weight: bolder;
    color: white;
    border-radius: 15px;
}

.Done input:hover{
    cursor: pointer;
}