body {
    margin:0;
    padding:0;
    -ms-user-select: none; 
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

.back{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0,0,0,0.5);
    z-index: 0;
    visibility: hidden;
}

select {
    outline:0;
}

input::placeholder {
    color:black;
}

progress::-webkit-progress-value {   
    background-color:#d5c9dd;  
    border:0;
    border-radius: 9px; }

progress {
    background-color:#d5c9dd;
    border:0;
    border-radius: 9px;
}

progress::-webkit-progress-bar {   
    background-color:rgba(180, 180, 180);
    border:0;
    border-radius: 9px; 
}


.frame{
    background-color: #f3f3f3;
    width: 100%;
    height: 100%;
    position: fixed;   
    overflow-y:scroll;
    overflow-x:hidden;
    left: 300px;
    top: 0%;
    z-index: 0;
}

.Userimg{
    position: absolute;
    top:15px;
    width:300px;
    text-align:center;
}

.Userid{
    position: absolute;
    /* left: 110px; */
    top: 172px;
    overflow: hidden;
    width: 300px;
    text-align: center;
}

.Userid u {
 text-decoration-line:none;   
 font-size:1.1em;
 font-weight: bolder;
}

.Logout{
    position: absolute;
    top: 200px;
    width: 300px;
    text-align: center;
    /* left: 110px; */
}

.Logout input{
    border: none;
    font-size: 1.1em;
    border-radius: 10px;
    width: 80px;
    height: 30px;
}

.Logout input:hover{
    cursor: pointer;
}

.Setting{
    position: absolute;
    left: 260px;
    top:0px;
}

#setting{
    border: none;
    background: none;
}

#setting:hover{
    cursor: pointer;
}

.Label{
    position: absolute;
    left: 25px;
    top: 240px;
}

.Label input{
    background: #D5C9DD;
    border-radius: 5px;
    border: none;
    color: white;
    width: 250px;
    height: 47px;
    font-size: 2.4em;
    font-weight: bold;
    letter-spacing: 5px;
    text-align: center;
}

.Train{
    position: absolute;
    left: 25px;
    top: 300px;
}

.Train input{
    border-radius: 5px;
    border: none;
    width: 250px;
    height: 47px;
    font-size: 2.4em;
    font-weight: bold;
    letter-spacing: 5px;
    text-align: center;
    background-color: white;
}

.Train input:hover{
    background-color: rgba(0,0,0,0.07);
    cursor: pointer;
}

.Predict{
    position: absolute;
    left: 25px;
    top: 360px;
}

.Predict input{
    border-radius: 5px;
    border: none;
    width: 250px;
    height: 47px;
    font-size: 2.4em;
    font-weight: bold;
    letter-spacing: 5px;
    text-align: center;
    background-color: white;
}

.Predict input:hover{
    background-color: rgba(0,0,0,0.07);
    cursor: pointer;
}

.All{
    position: absolute;
    top: 0px;
    left: -5px;
}

#Allb{
    width: 250px;
    height: 47px;
    position: absolute;
    top: 420px;
    left: 30px;
    border-radius: 5px;
    border: none;
    background-color: white;
}

.Alltxt{
    position: absolute;
    width: 100px;
    left: 15px;
    top: 6px;
    font-size: 1.2em;
    text-align: left;
}

.Allresult{
    position: absolute;
    top: 6px;
    right: 15px;
    font-size: 1.2em;
    text-align: right;
}

.Allprog{
    position: absolute;
    top: 28px;
    left: 11px;
}

#Allb:hover{
    background-color: rgba(0,0,0,0.07);
    cursor: pointer;
}

.L1{
    position: absolute;
    top: 55px;
    left: -5px;
}

#L1B{
    width: 250px;
    height: 47px;
    position: absolute;
    top: 420px;
    left: 30px;
    border-radius: 5px;
    border: none;
    background-color: white;
}

.Ltxt1{
    position: absolute;
    width: auto;
    left: 15px;
    top: 6px;
    font-size: 1.2em;
    text-align: left;
}

.Result1{
    position: absolute;
    top: 6px;
    right: 15px;
    font-size: 1.2em;
    text-align: right;
}

.Prog1{
    position: absolute;
    top: 28px;
    left: 11px;
}

#L1B:hover{
    background-color: rgba(0,0,0,0.07);
    cursor: pointer;
}

.L2{
    position: absolute;
    top: 110px;
    left: -5px;
}

#L2B{
    width: 250px;
    height: 47px;
    position: absolute;
    top: 420px;
    left: 30px;
    border-radius: 5px;
    border: none;
    background-color: white;
}

.Ltxt2{
    position: absolute;
    width: auto;
    left: 15px;
    top: 6px;
    font-size: 1.2em;
    text-align: left;
}

.Result2{
    position: absolute;
    top: 6px;
    right: 15px;
    font-size: 1.2em;
    text-align: right;
}

.Prog2{
    position: absolute;
    top: 28px;
    left: 11px;
}

#L2B:hover{
    background-color: rgba(0,0,0,0.07);
    cursor: pointer;
}

.Unlabelimg{
    position: absolute;
    top: 165px;
    left: -5px;
}

#UnlabelB{
    width: 250px;
    height: 47px;
    position: absolute;
    top: 420px;
    left: 30px;
    border-radius: 5px;
    border: none;
    background-color: white;
}

.Unlabeltxt{
    position: absolute;
    width: auto;
    left: 15px;
    top: 6px;
    font-size: 1.2em;
    text-align: left;
}

.Unlabelresult{
    position: absolute;
    top: 6px;
    right: 15px;
    font-size: 1.2em;
    text-align: right;
}

.Unlabelprog{
    position: absolute;
    top: 28px;
    left: 11px;
}

#UnlabelB:hover{
    background-color: rgba(0,0,0,0.07);
    cursor: pointer;
}

.Delete{
    position: absolute;
    /*top: 660px;*/
    bottom: 2.5%;
    left: 73px;
}

.Delete input{
    border-radius: 5px;
    border: none;
    width: 150px;
    height: 50px;
    font-size: 1.2em;
}

.Delete input:hover{
    cursor: pointer;
}

/*frame*/

.trainB{
    position: absolute;
    top: 25px;
    /*left: 1000px;*/
    right: 555px;
}

.trainB input{
    border-radius: 15px;
    border: none;
    width: 80px;
    height: 45px;
    background-color: rgba(0,0,0,0.07);
    font-weight: bold;
    font-size: 1em;
}

.trainB input:hover{
    background-color: rgba(0,0,0,0.1);
    cursor: pointer;
}

.Trainmodal1{
    background-color: white;
    width: 450px;
    height: 250px;
    border-radius: 15px;
    z-index: 5;
    position: absolute;
    top: 30%;
    left: 40%;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25);
    visibility: hidden;
}

.Traintxt1{
    font-size: 1.5em;
    font-weight: bold;
    position: absolute;
    top: 25%;
    left: 13%;
}

.yes{
    width: 90px;
    height: 50px;
    position: absolute;
    top: 60%;
    left: 25%;
    border: none;
    border-radius: 10px;
    background-color: #d5c9dd;
    color: white;
    font-size: 1.8em;
    font-weight: bold;
}

.yes:hover{
    cursor: pointer;
    background-color: #c4b8cc;
}

.no{
    width: 90px;
    height: 50px;
    position: absolute;
    top: 60%;
    right: 25%;
    border: none;
    border-radius: 10px;
    background-color: #d5c9dd;
    color: white;
    font-size: 1.8em;
    font-weight: bold;
}

.no:hover{
    cursor: pointer;
    background-color: #c4b8cc;
}

.Trainmodal2{
    background-color: white;
    width: 450px;
    height: 250px;
    border-radius: 15px;
    z-index: 5;
    position: absolute;
    top: 30%;
    left: 40%;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25);
    visibility: hidden;
}

.Traintxt2{
    font-size: 1.5em;
    font-weight: bold;
    position: absolute;
    top: 25%;
    left: 35%;
}

#loading{
    position: absolute;
    top: 50%;
    left: 41%;
    width: 100px;
    height: 100px;
}

.Trainmodal2x input{
    background: none;
    border: none;
    color: rgba(0,0,0,0.6);
    font-size: 20px;
    font-weight: bold;
    position: absolute;
    top: 4%;
    right: 3%;
}

.Trainmodal2x input:hover{
    cursor: pointer;
}

.Trainmodal3{
    background-color: white;
    width: 450px;
    height: 250px;
    border-radius: 15px;
    z-index: 5;
    position: absolute;
    top: 30%;
    left: 40%;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25);
    visibility: hidden;
}

.Traintxt3{
    font-size: 1.5em;
    font-weight: bold;
    position: absolute;
    top: 20%;
    left: 23%;
    text-align: center;
}

.ok{
    width: 90px;
    height: 50px;
    position: absolute;
    top: 68%;
    left: 40%;
    border: none;
    border-radius: 10px;
    background-color: #d5c9dd;
    color: white;
    font-size: 1.8em;
    font-weight: bold;
}

.ok:hover{
    cursor: pointer;
    background-color: #c4b8cc;
}

.Trainmodal3x input{
    background: none;
    border: none;
    color: rgba(0,0,0,0.6);
    font-size: 20px;
    font-weight: bold;
    position: absolute;
    top: 4%;
    right: 3%;
}

.Trainmodal3x input:hover{
    cursor: pointer;
}

.Sort{
    position: absolute;
    top: 25px;
    /*left: 1000px;*/
    right: 450px;
}

.Sort input{
    border-radius: 15px;
    border: none;
    width: 80px;
    height: 45px;
    background-color: rgba(0,0,0,0.07);
    font-weight: bold;
    font-size: 1em;
}

.Sort input:hover{
    background-color: rgba(0,0,0,0.1);
    cursor: pointer;
}

.Import{
    position: absolute;
    top: 25px;
    /*left: 1100px;*/
    right: 350px;
}

.Import input{
    border-radius: 15px;
    border: none;
    width: 80px;
    height: 45px;
    background-color: rgba(0,0,0,0.07);
    font-weight: bold;
    font-size: 1em;
}

.Import input:hover{
    background-color: rgba(0,0,0,0.1);
    cursor: pointer;
}

h1{
    position: absolute;
    left: 50px;
}

.Sortmodal{
    display: none;
    background-color: white;
    width: 350px;
    height: 175px;
    border-radius: 20px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25);
    font-size: 15px;
  
    position: absolute;
    top: 85px;
    /*left: 948px;*/
    right: 450px;
    z-index: 5;
}

#ascendingB{
    border: none;
    background: none;
    position: absolute;
    position: absolute;
    top: 33px;
    left: 22px;
    border-radius: 15px;
    
    width: 300px;
    height: 60px;
    background-color:white;
}   

.ascendingbox{
    width: 45px;
    height: 45px;
    border-radius: 15px;
    background-color: #D5C9DD;
    position: absolute;
    top: 8px;
    left: 10px;
}

#ascendingicon{
    position: absolute;
    left: 3px;
    top: 2px;
}

.ascendingtxt{
    font-size: 20px;
    position: absolute;
    width: 200px;
    top: 20px;
    left: 70px;
}

#ascendingB:hover{
    cursor: pointer;
    background-color: rgba(0,0,0,0.1);
}

#descendingB{
    border: none;
    background: none;
    position: absolute;
    position: absolute;
    top: 100px;
    left: 22px;
    border-radius: 15px;
    
    width: 300px;
    height: 60px;
    background-color:white;
}

#descendingicon{
    position: absolute;
    left: 3px;
    top: 2px;
}

.descendingbox{
    width: 45px;
    height: 45px;
    border-radius: 15px;
    background-color: #D5C9DD;
    position: absolute;
    top: 8px;
    left: 10px
}

.descendingtxt{
    font-size: 20px;
    position: absolute;
    width: 200px;
    top: 20px;
    left: 70px;
}

#descendingB:hover{
    cursor: pointer;
    background-color: rgba(0,0,0,0.1);
}

.Sortx input{
    background: none;
    border: none;
    color: rgba(0,0,0,0.6);
    font-size: 20px;
    font-weight: bold;
    position: absolute;
    top: 4px;
    left: 320px;
}

.Sortx input:hover{
    cursor: pointer;
}

.Importmodal{
    background-color: white;
    width: 400px;
    height: 180px;
    position: absolute;
    top: 85px;
    /*left: 777px;*/
    right: 350px;
    border-radius: 20px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25);
    display: none;
    z-index: 5;
}

#file{
    display: none;
}

.ImagesB{
    position: absolute;
    top: 33px;
    left: 22px;
    
}

#imagesB{
    border-radius: 15px;
    border: none;
    width: 350px;
    height: 60px;
    background-color:white;
    position: absolute;
    top: 33px;
    left: 22px;
}

#imagesB:hover{
    cursor: pointer;
    background-color: rgba(0,0,0,0.1);
}

.imagebox{
    position: absolute;
    top: 7px;
    left: 8px;
    width: 45px;
    height: 45px;
    border-radius: 15px;
    background-color: #D5C9DD;
}

#imageicon{
    position: absolute;
    top: 7.3px;
    left: 7.6px;
}

.imagetxt1{
    position: absolute;
    top: 6px;
    left: 70px;
    font-size: 20px;
}

.imagetxt2{
    position: absolute;
    top: 31px;
    left: 70px;
    font-size: 16px;
    color: rgba(0,0,0,0.6);
}

.CameraB{
    position: absolute;
    top: 105px;
    left: 22px;
}

#cameraB{
    position: absolute;
    top: 105px;
    left: 22px;
    border-radius: 15px;
    border: none;
    width: 350px;
    height: 60px;
    background-color: white;
}

#cameraB:hover{
    cursor: pointer;
    background-color: rgba(0,0,0,0.1);
}

.camerabox{
    position: absolute;
    top: 7px;
    left: 8px;
    width: 45px;
    height: 45px;
    border-radius: 15px;
    background-color: #D5C9DD;
}

#cameraicon{
    position: absolute;
    top: 7.3px;
    left: 7.6px;
}

.cameratxt1{
    position: absolute;
    top: 6px;
    left: 70px;
    font-size: 20px;
}

.cameratxt2{
    position: absolute;
    top: 31px;
    left: 70px;
    font-size: 16px;
    color: rgba(0,0,0,0.6);
}

.Importx input{
    background: none;
    border: none;
    color: rgba(0,0,0,0.6);
    font-size: 20px;
    font-weight: bold;
    position: absolute;
    top: 5px;
    left: 365px;

}

.Importx input:hover{
    cursor: pointer;
}

.labelwrap{
    position: absolute;
    top: 80px;
    left: 15px;
    z-index: -1;
}

#labeltitle1{
    margin: 1.5em;
}

#labeltitle1 input{
    width: 180px;
    height: 30px;
    border: none;
    font-size: 1.5em;
    font-weight: bold;
    border-radius: 5px;
    background-color: #f3f3f3;
}

#labeltitle1 input:focus{
    outline: none;
}

#labeltitle1 input:hover{
    cursor: pointer;
    background-color: rgba(0,0,0,0.07);
}

#labelcount1{
    display: inline;
    font-size: 1.5em;
}

.labeled1 {
    margin-top: 1.5em;
    width: 1210px;
    height: auto;
    overflow: hidden;
}

.labeled1 div{
    margin:1.5em;
    float:left;
    z-index: -1;
    width: 250px;
    height: 190px;
}

#labeltitle2{
    margin: 1.5em;
}

#labeltitle2 input{
    width: 180px;
    height: 30px;
    border: none;
    font-size: 1.5em;
    font-weight: bold;
    border-radius: 5px;
    background-color: #f3f3f3;
}

#labeltitle2 input:focus{
    outline: none;
}

#labeltitle2 input:hover{
    cursor: pointer;
    background-color: rgba(0,0,0,0.07);
}

#labelcount2{
    font-size: 1.5em;
}

.labeled2 {
    margin-top: 1.5em;
    width: 1210px;
    height: auto;
    overflow: hidden;
}

.labeled2 div{
    margin:1.5em;
    float:left;
    z-index: -1;
    width: 250px;
    height: 190px;
}

#unlabeltitle{
    display: inline;
    margin: 1.5em;
}

#unlabelcount{
    display: inline;
    font-size: 1.5em;
}

#unlabeltitle h2{
    display: inline;
    margin-right: 2.9em;
}

.unlabel {
    margin-top: 1.5em;
    width: 1210px;
    height: auto;
    overflow: hidden;
}

.unlabel div{
    margin:1.5em;
    float:left;
    z-index: -1;
    width: 250px;
    height: 190px;
}

#img{
    border-radius: 20px;
}

#img:hover{
    cursor: pointer;
}

.imgbutton{
    border: none;
    outline: none;
    width: 250px;
    height: 190px;
    margin: 0px;
    padding: 0px;
    border-radius: 25px;
    position: relative;
    top: -160px;
    left: -30px;
}

.imgbutton:focus{
    border-color: #d5c9dd;
    border-style: solid;
    border-width: 5px;
    margin: 0px;
    padding: 0px;
}

.imgx{
    position: relative;
    left: 195px;
    top: -5px;
    border: none;
    background: none;
    border-radius: 8px;
    color: rgba(0,0,0,0.6);
    font-size: 20px;
    font-weight: bold;
    z-index: 3;
    visibility: hidden;
}

.imgx:hover{
    cursor: pointer;
}

.imgdiv:hover > .deleteImage .imgx {
    visibility: visible;
}

#select{
    position: relative;
    z-index: 3;
    width: auto;
    height: auto;
    /* background-color: #D5C9DD; */
    background-color:rgba(200, 200, 200, 0.6);
    top: 60px;
    left: -15px;
    border-radius: 10px;
    padding: 0.5em 1em 0.5em 0.5em;
    border: none;
    padding: 0.3em;
}

#select:hover{
    background-color: #D5C9DD;

}

#select select{
    border: none;
    text-align: center;
    background: none;
    color: white;
    font-size: 1.2em;
    font-weight: bold;
    
}

select option{
    font-size: 1em;
    font-weight: bold;
    background-color: rgba(219, 219, 219, 0.6);
    color: rgba(0,0,0,0.5);
}
