.frame{
    background-color: #f3f3f3;
    width: 100%;
    height: 100%;
    position: fixed;   
    overflow-y:scroll;
    overflow-x:hidden;
    left: 300px;
    top: 0%;
}

.Userimg{
    position: absolute;
    left: 74px;
    top: 15px;
}

.Userid{
    position: absolute;
    left: 118px;
    top: 172px;
    font-size: 1em;
    overflow: hidden;
    width: auto;
    text-align: center;
}

.Logout{
    position: absolute;
    top: 200px;
    left: 110px;
}

.Logout input{
    border: none;
    font-size: 1.1em;
    border-radius: 10px;
    width: 80px;
    height: 30px;
}

.Logout input:hover{
    cursor: pointer;
}

.Setting{
    position: absolute;
    left: 260px;
    top:0px;
}

#setting{
    border: none;
    background: none;
}

#setting:hover{
    cursor: pointer;
}

.Label{
    position: absolute;
    left: 25px;
    top: 240px;
}

.Label input{
    background: #D5C9DD;
    border-radius: 5px;
    border: none;
    color: white;
    width: 250px;
    height: 47px;
    font-size: 2.4em;
    font-weight: bold;
    letter-spacing: 5px;
    text-align: center;
}

.Train{
    position: absolute;
    left: 25px;
    top: 300px;
}

.Train input{
    border-radius: 5px;
    border: none;
    width: 250px;
    height: 47px;
    font-size: 2.4em;
    font-weight: bold;
    letter-spacing: 5px;
    text-align: center;
    background-color: white;
}

.Train input:hover{
    background-color: rgba(0,0,0,0.07);
    cursor: pointer;
}

.Predict{
    position: absolute;
    left: 25px;
    top: 360px;
}

.Predict input{
    border-radius: 5px;
    border: none;
    width: 250px;
    height: 47px;
    font-size: 2.4em;
    font-weight: bold;
    letter-spacing: 5px;
    text-align: center;
    background-color: white;
}

.Predict input:hover{
    background-color: rgba(0,0,0,0.07);
    cursor: pointer;
}

.Delete{
    position: absolute;
    /*top: 660px;*/
    bottom: 2.5%;
    left: 73px;
}

.Delete input{
    border-radius: 5px;
    border: none;
    width: 150px;
    height: 50px;
    font-size: 1.2em;
}

.Delete input:hover{
    cursor: pointer;
}

.Countbox{
    overflow: auto;
    position: absolute;
    top: 420px;
    /*bottom: 80px;*/
    left: 25px;
    width: 250px;
    height: 30%;
}

.Allprog{
    position: absolute;
    left: 10px;
    top: 20px;
}

.Alltxt{
    position: absolute;
    left: 10px;
    top: 2px;
    font-size: 1em;
}

.Allresult{
    position: absolute;
    top: 2px;
    left: 220px;
    text-align: right;
    font-size: 1em;
}

.Prog1{
    position: absolute;
    left: 10px;
    top: 60px;
}

.Ltxt1{
    position: absolute;
    left: 10px;
    top: 44px;
    text-align: left;
    font-size: 1em;
}

.Result1{
    position: absolute;
    top: 44px;
    left: 220px;
    text-align: right;
    font-size: 1em;
}

.Prog2{
    position: absolute;
    left: 10px;
    top: 100px;
}

.Ltxt2{
    position: absolute;
    left: 10px;
    top: 84px;
    text-align: left;
    font-size: 1em;
}

.Result2{
    position: absolute;
    top: 84px;
    left: 220px;
    text-align: right;
    font-size: 1em;
}

.Sort{
    position: absolute;
    top: 25px;
    /*left: 1000px;*/
    right: 450px;
}

.Sort input{
    border-radius: 15px;
    border: none;
    width: 80px;
    height: 45px;
    background-color: rgba(0,0,0,0.07);
    font-weight: bold;
    font-size: 1em;
}

.Sort input:hover{
    background-color: rgba(0,0,0,0.1);
    cursor: pointer;
}

.Import{
    position: absolute;
    top: 25px;
    /*left: 1100px;*/
    right: 350px;
}

.Import input{
    border-radius: 15px;
    border: none;
    width: 80px;
    height: 45px;
    background-color: rgba(0,0,0,0.07);
    font-weight: bold;
    font-size: 1em;
}

.Import input:hover{
    background-color: rgba(0,0,0,0.1);
    cursor: pointer;
}

h1{
    position: absolute;
    left: 50px;
}

.Sortmodal{
    display: none;
    background-color: white;
    width: 130px;
    height: 90px;
    border-radius: 20px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25);
    font-size: 15px;
  
    position: absolute;
    top: 85px;
    /*left: 948px;*/
    right: 450px;
    z-index: 5;
}

.Sortx input{
    background: none;
    border: none;
    color: rgba(0,0,0,0.6);
    font-size: 20px;
    font-weight: bold;
    position: absolute;
    top: 4px;
    left: 100px;
}

.Sortx input:hover{
    cursor: pointer;
}

#Labeling{
    position: absolute;
    top: 34%;
    left: 7%;
}

.Labeling-text{
    position: absolute;
    top: 30%;
    left: 35%;
}

#Date{
    position: absolute;
    top: 62%;
    left: 7%;
}

.Date-text{
    position:absolute;
    top: 59%;
    left: 35%;
}

.Importmodal{
    background-color: white;
    width: 400px;
    height: 180px;
    position: absolute;
    top: 85px;
    /*left: 777px;*/
    right: 350px;
    border-radius: 20px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25);
    display: none;
    z-index: 5;
}

#file{
    display: none;
}

.ImagesB{
    position: absolute;
    top: 33px;
    left: 22px;
    
}

#imagesB{
    border-radius: 15px;
    border: none;
    width: 350px;
    height: 60px;
    background-color:white;
    position: absolute;
    top: 33px;
    left: 22px;
}

#imagesB:hover{
    cursor: pointer;
    background-color: rgba(0,0,0,0.1);
}

.imagebox{
    position: absolute;
    top: 7px;
    left: 8px;
    width: 45px;
    height: 45px;
    border-radius: 15px;
    background-color: #D5C9DD;
}

#imageicon{
    position: absolute;
    top: 7.3px;
    left: 7.6px;
}

.imagetxt1{
    position: absolute;
    top: 6px;
    left: 70px;
    font-size: 20px;
}

.imagetxt2{
    position: absolute;
    top: 31px;
    left: 70px;
    font-size: 16px;
    color: rgba(0,0,0,0.6);
}

.CameraB{
    position: absolute;
    top: 105px;
    left: 22px;
}

#cameraB{
    position: absolute;
    top: 105px;
    left: 22px;
    border-radius: 15px;
    border: none;
    width: 350px;
    height: 60px;
    background-color: white;
}

#cameraB:hover{
    cursor: pointer;
    background-color: rgba(0,0,0,0.1);
}

.camerabox{
    position: absolute;
    top: 7px;
    left: 8px;
    width: 45px;
    height: 45px;
    border-radius: 15px;
    background-color: #D5C9DD;
}

#cameraicon{
    position: absolute;
    top: 7.3px;
    left: 7.6px;
}

.cameratxt1{
    position: absolute;
    top: 6px;
    left: 70px;
    font-size: 20px;
}

.cameratxt2{
    position: absolute;
    top: 31px;
    left: 70px;
    font-size: 16px;
    color: rgba(0,0,0,0.6);
}

.Importx input{
    background: none;
    border: none;
    color: rgba(0,0,0,0.6);
    font-size: 20px;
    font-weight: bold;
    position: absolute;
    top: 5px;
    left: 365px;

}

.Importx input:hover{
    cursor: pointer;
}

.labeled {
    overflow: auto;
    position:absolute;
    top:130px;
    left: 15px;
    width: 1300px;
    height: 480px;
}

#labeltitle1{
    position: relative;
    top: 70px;
    left: 45px;
    overflow: hidden;
    width: auto;
}

#labelcount1{
    position: absolute;
    top: 20px;
    left: 150px;
    font-size: 1.5em;
}

#unlabeltitle{
    position: relative;
    top: 600px;
    left: 45px;
}

#unlabelcount{
    position: absolute;
    top: 0px;
    left: 150px;
    font-size: 1.5em;
}

.unlabel {
    overflow: auto;
    position:absolute;
    /* display:flex;
    flex-direction:row;
    justify-content: space-around; */
    top:700px;
    left: 15px;
    width: 1300px;
    height: 480px;

}

.unlabel div {
    margin:1.5em;
    float:left;
    z-index: -1;
}

.imgbutton{
    border: none;
    outline: none;
    width: 250px;
    height: 190px;
    margin: 0px;
    padding: 0px;
    border-radius: 25px;
}

.imgbutton:focus{
    border-color: #d5c9dd;
    border-style: solid;
    border-width: 5px;
    margin: 0px;
    padding: 0px;
}

#img{
    border-radius: 20px;
}

#img:hover{
    cursor: pointer;
}