body {
    margin:0;
    padding:0;
    -ms-user-select: none; 
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

progress::-webkit-progress-value {   
    background-color:rgb(35, 218, 35);
    border:0;
    border-radius: 9px; }

progress {
    background-color:rgb(35, 218, 35);
    border:0;
    border-radius: 9px;
}

progress::-webkit-progress-bar {   
    background-color:red;
    border:0;
    border-radius: 9px; 
}
.frame{
    background-color: #f3f3f3;
    width: 100%;
    height: 100%;
    position: fixed;
    overflow-y:scroll;
    overflow-x:hidden;
    left: 300px;
    top: 0%;
}

.Userimg{
    position: absolute;
    top:15px;
    width:300px;
    text-align:center;
}


.Userid{
    position: absolute;
    /* left: 110px; */
    top: 172px;
    overflow: hidden;
    width: 300px;
    text-align: center;
}

.Userid u {
 text-decoration-line:none;   
 font-size:1.1em;
 font-weight: bolder;
}


.Setting{
    position: absolute;
    left: 260px;
    top:0px;
}


#setting{
    border: none;
    background: none;
}

#setting:hover{
    cursor: pointer;
}

.Logout{
    position: absolute;
    top: 200px;
    width: 300px;
    text-align: center;
    /* left: 110px; */
}

.Logout input{
    border: none;
    font-size: 1.1em;
    border-radius: 10px;
    width: 80px;
    height: 30px;
}

.Logout input:hover{
    cursor: pointer;
}

.Label{
    position: absolute;
    left: 25px;
    top: 240px;
}

.Label input{
    background: white;
    border-radius: 5px;
    border: none;
    width: 250px;
    height: 47px;
    font-size: 2.4em;
    font-weight: bold;
    letter-spacing: 5px;
    text-align: center;
}

.Label input:hover{
    background-color: rgba(0,0,0,0.07);
    cursor: pointer;
}

.Train{
    position: absolute;
    left: 25px;
    top: 300px;
}

.Train input{
    border-radius: 5px;
    border: none;
    width: 250px;
    height: 47px;
    font-size: 2.4em;
    font-weight: bold;
    letter-spacing: 5px;
    text-align: center;
    background-color: white;
}

.Train input:hover{
    background-color: rgba(0,0,0,0.07);
    cursor: pointer;
}

.Predict{
    position: absolute;
    left: 25px;
    top: 360px;
}

.Predict input{
    border-radius: 5px;
    border: none;
    width: 250px;
    height: 47px;
    font-size: 2.4em;
    font-weight: bold;
    letter-spacing: 5px;
    text-align: center;
    background-color: #d5c9dd;
    color: white;
}

.Delete{
    position: absolute;
    /*top: 660px;*/
    bottom: 2.5%;
    left: 73px;
}

.Delete input{
    border-radius: 5px;
    border: none;
    width: 150px;
    height: 40px;
    font-size: 1.2em;
}

.Delete input:hover{
    cursor: pointer;
}

.All{
    position: absolute;
    top: 0px;
    left: -5px;
}

#Allb{
    width: 250px;
    height: 47px;
    position: absolute;
    top: 420px;
    left: 30px;
    border-radius: 5px;
    border: none;
    background-color: white;
}

.Alltxt{
    position: absolute;
    width: 100px;
    left: 15px;
    top: 6px;
    font-size: 1.2em;
    text-align: left;
}

.Allresult{
    position: absolute;
    top: 6px;
    right: 15px;
    font-size: 1.2em;
    text-align: right;
}

.Allprog{
    position: absolute;
    top: 28px;
    left: 11px;
}

#Allb:hover{
    background-color: rgba(0,0,0,0.07);
    cursor: pointer;
}

.L1{
    position: absolute;
    top: 55px;
    left: -5px;
}

#L1B{
    width: 250px;
    height: 47px;
    position: absolute;
    top: 420px;
    left: 30px;
    border-radius: 5px;
    border: none;
    background-color: white;
}

.Ltxt1{
    position: absolute;
    width: auto;
    left: 15px;
    top: 6px;
    font-size: 1.2em;
    text-align: left;
}

.Result1{
    position: absolute;
    top: 6px;
    right: 15px;
    font-size: 1.2em;
    text-align: right;
}

.Prog1{
    position: absolute;
    top: 28px;
    left: 11px;
}

#L1B:hover{
    background-color: rgba(0,0,0,0.07);
    cursor: pointer;
}

.L2{
    position: absolute;
    top: 110px;
    left: -5px;
}

#L2B{
    width: 250px;
    height: 47px;
    position: absolute;
    top: 420px;
    left: 30px;
    border-radius: 5px;
    border: none;
    background-color: white;
}

.Ltxt2{
    position: absolute;
    width: auto;
    left: 15px;
    top: 6px;
    font-size: 1.2em;
    text-align: left;
}

.Result2{
    position: absolute;
    top: 6px;
    right: 15px;
    font-size: 1.2em;
    text-align: right;
}

.Prog2{
    position: absolute;
    top: 28px;
    left: 11px;
}

#L2B:hover{
    background-color: rgba(0,0,0,0.07);
    cursor: pointer;
}

.accuracy{
    position: absolute;
    left: 36px;
    bottom: 80px;
    width: 225px;
    display: block;
}

.accuracyB{
    border-radius: 5px;
    border: none;
    background-color: white;
}

.percent{
    font-size: 1.5em;
    color: #d5c9dd;
}

.accuracytxt{
    font-size: 1.5em;
}

.accuracyB:hover{
    cursor: pointer;
    background-color: rgba(0,0,0,0.07);
}

.time{
    position: absolute;
    left: 36px;
    bottom: 80px;
    width: 225px;
    display: none;
}

.timeB{
    border-radius: 5px;
    border: none;
    background-color: white;
}

.T{
    font-size: 1.5em;
    color: #d5c9dd;
}

.timetxt{
    font-size: 1.5em;
}

.timeB:hover{
    cursor: pointer;
    background-color: rgba(0,0,0,0.07);
}

/*frame*/
.Box{
    position: absolute;
    top: 20px;
    /*left: 450px;*/
    right: 50%;
    width: 300px;
    height: 45px;
    border-radius: 10px;
    background-color: rgba(0,0,0,0.1);
}

.Images input{
    position: absolute;
    top: 2px;
    left: 102.3px;
    border: none;
    border-radius: 10px;
    background:none;
    width: 97px;
    height: 40px;
    font-weight: bold;
}

.Images input:hover{
    cursor: pointer;
}

.Camera input{
    position: absolute;
    top: 2px;
    left: 3px;
    border: none;
    border-radius: 10px;
    background-color: white;
    width: 97px;
    height: 40px;
    font-weight: bold;
}

.Camera input:hover{
    cursor: pointer;
}

.Export input{
    position: absolute;
    top: 2px;
    left: 201px;
    border: none;
    border-radius: 10px;
    background:none;
    width: 97px;
    height: 40px;
    font-weight: bold;
}

.Export input:hover{
    cursor: pointer;
}

h1{
    position: absolute;
    left: 50px;
}

#container {
    margin: 0px auto;
    width: 800px;
    height: 600px;
    position: absolute;
    top:53%;
    left:40.5%;
    transform:translate(-50%,-50%);
}

#camera_canvas, #output {
    transform: rotateY(180deg);
    position: absolute
    
}

#camera_canvas {
    z-index: 1000;
    border-radius: 20px;
    /* display: none */
}

#videoElement {
    width: 800px;
    height: 600px;
    transform: rotateY(180deg);
    background-color: rgba(0,0,0,0.1);
    border-radius: 20px;
}

#capture{
    background-color: rgba(138, 138, 138, 0.8);
    width: 70px;
    height: 70px;
    position: absolute;
    left: 47%;
    bottom: 3%;
    border-radius: 35px;
    border-color: white;
    border-style: solid;
    border-width: 4px;
}

#capture:hover{
    cursor: pointer;
    background-color: rgb(107, 106, 106)
}


#result{
    position: absolute;
    width: auto;
    height: auto;
    background-color: #d5c9dd;
    border-radius: 10px;
    color: white;
    font-size: 2em;
    font-weight: bold;
    bottom: 18px;
    left: 20px;
    padding: 5px 8px 5px 8px;
    z-index: 1500;
    visibility: hidden;
}

#x{
    position: absolute;
    top: 10px;
    right: 15px;
    z-index: 1500;
    visibility: hidden;
}

#xbutton{
    border: none;
    font-size: 2em;
    font-weight: bold;
    border-radius: 10px;
    background: none;
    color: white;
    z-index: 1500;
}

#xbutton:hover{
    cursor:pointer
}

.notTrain{
    position: absolute;
    top: 35%;
    left: 25%;
    width: 450px;
    height: 140px;
    border-radius: 5px;
    border: none;
    background: none;
}

.notTrain:hover{
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.05);
}

#notTraintxt{
    position: absolute;
    top: 12%;
    left: 0%;
}

#txt1{
    font-size: 3.3em;
    font-weight: bold;
    text-align: center;
    color: rgba(0, 0, 0, 0.7);
}

#txt2{
    font-size: 3.3em;
    font-weight: bold;
    text-align: center;
    color: #c7bacf;
}

/*train전 bar txt*/
.bartxt{
    width: 250px;
    height: auto;
    position: absolute;
    bottom: 18%;
    left: 26px;
    font-size: 1.25em;
    text-align: center;
}