{% load static %}

<head>
    <link rel="stylesheet" href="{% static 'cam.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
</head>

</head>

<body>
    <div class="bar">
        <div class="Userimg">
            <img src="{% static 'user_img.png' %}" style="width: 150px; height: 150px">
        </div>
        <div class="Userid">
            <u>{{userid}}</u>
        </div>
        <div class="Setting">
            <button type="button" id="setting" onclick="location.href='/setting'"> <img
                    src="{% static 'setting_img.png' %}" style="width: 30px; height: 30px">
        </div>
        <div class="Logout">
            <input type="button" value="logout" onclick="location.href='/logout'">
        </div>
        <div class="Delete">
            <input type="button" value="Delete model">
        </div>
        <div class="Label">
            <input type="button" value="Label" onclick="location.href='/label'">
        </div>
        <div class="Train">
            <input type="button" value="Train" onclick="location.href='/train'">
        </div>
        <div class="Predict">
            <input type="button" value="Predict" onclick="location.href='/predict/image'">
        </div>

    </div>
    <div class="frame">
        <h1>Import</h1>
        <div id="container">
            <canvas id="camera_canvas" ></canvas>
            <video autoplay="true" id="videoElement" ></video>
            <div class="Done">
                <input type="button" value="Done" onclick="location.href='/label'">
            </div>
            <button id="capture"></button>
        </div>
        
        
    </div>
    
    <input id="userid" style="display:none" value="{{userid}}">
    <img src="//:0" alt="" id="output">
    <a id="target" style="display: none"></a>


    <script>
        var form = document.querySelector("#imageForm");
        var video = document.querySelector("#videoElement");
        var sensor = document.querySelector("#camera_canvas");
        var capture = document.querySelector("#capture");
        var userid = document.querySelector('#userid').value;

        if (navigator.mediaDevices.getUserMedia) {
            navigator.mediaDevices.getUserMedia({ video: true })
                .then(function (stream) {
                    video.srcObject = stream;
                })
                .catch(function (err0r) {
                    console.log("Something went wrong!");
                });
        }
        capture.addEventListener("click", function () {
            sensor.width = video.videoWidth;
            sensor.height = video.videoHeight;
            sensor.getContext("2d").drawImage(video, 0, 0);
            save(sensor);
            console.log(sensor.height);
        });

        function save(canvas) {
            var img = canvas.toDataURL('image/png');
            img = img.replace("data:image/png;base64,", "");

            $.ajax({
                type: "POST",
                url: "/image/save/",
                contentType: "application/x-www-form-urlencoded; charset=utf-8",
                data: { "image": img, "userid": userid, labeling: "false" },
                dataType: "text"
            }).success(function (o) {
                alert('Image saved.');
            });
        }

    </script>