{% load static %}
{% load mathfilters %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PREDICT</title>
    <link rel="stylesheet" href="{% static 'predict_Images.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
</head>

<body>
    <div class="bar">
        <div class="Userimg">
            <img src="{% static 'user_img.png' %}" style="width: 150px; height: 150px">
        </div>
        <div class="Userid">
            <u>{{userid}}</u>
        </div>
        <div class="Setting">
            <button type="button" id="setting" onclick="location.href='/setting'"> <img
                    src="{% static 'setting_img.png' %}" style="width: 30px; height: 30px">
        </div>
        <div class="Logout">
            <input type="button" value="logout" onclick="location.href='/logout'">
        </div>
        <div class="Delete">
            <input type="button" value="Delete model">
        </div>
        <div class="Label">
            <input type="button" value="Label" onclick="location.href='/label'">
        </div>
        <div class="Train">
            <input type="button" value="Train" onclick="location.href='/train'">
        </div>
        <div class="Predict">
            <input type="button" value="Predict" onclick="location.href='/predict/image'">
        </div>
        <div class="All">
            <button type="button" id="Allb">
                <div class="Alltxt">
                    All Images
                </div>
                <div class="Allprog">
                    <progress value="{{label1_correct|add:label2_correct}}" max="{{total_len}}"
                        style="width: 225px; "></progress>
                </div>
                <div class="Allresult">
                    {{total_correct|div:total_len|mul:100|floatformat}}%
                </div>
            </button>
        </div>
        <div class="L1">
            <button type="button" id="L1B">
                <div class="Ltxt1">
                    {{label1}}
                </div>
                <div class="Result1">
                    {%if label1_len != "0" %}
                    {{label1_correct|div:label1_len|mul:100|floatformat}}%
                    {%else%}
                    0
                    {%endif%}
                </div>
                <div class="Prog1">
                    <progress value="{{label1_correct}}" max="{{label1_len}}" style="width: 225px;"></progress>
                </div>
            </button>
        </div>
        <div class="L2">
            <button type="button" id="L2B">
                <div class="Ltxt2">
                    {{label2}}
                </div>
                <div class="Result2">
                    {%if label2_len != "0"%}
                    {{label2_correct|div:label2_len|mul:100|floatformat}}%
                    {%else%}
                    0
                    {%endif%}
                </div>
                <div class="Prog2">
                    <progress value="{{label2_correct}}" max="{{label2_len}}" style="width: 225px;"></progress>
                </div>
            </button>
        </div>
        <div class="accuracy">
            <button type="button" class="accuracyB">
                <span class="percent">
                    {{total_correct|div:total_len|mul:100|floatformat}}%
                </span>
                <span class="accuracytxt">
                    of images are predicted correctly
                </span>
            </button>
        </div>
        <div class="time">
            <button type="button" class="timeB">
                <span class="timetxt">
                    It took
                </span>
                <span class="T">
                    {{time}} sec
                </span>
                <span class="timetxt">
                    to predict the images
                </span>
            </button>
        </div>
    </div>
    <div class="frame">
        <h1>Predict</h1>
        <div class="Box">
            <div class="Images">
                <input type="button" value="Images" onclick="location.href='/predict/image'">
            </div>
            <div class="Camera">
                <input type="button" value="Camera" onclick="location.href='/predict/camera'">
            </div>
            <div class="Export">
                <input type="button" value="Export" onclick="location.href='/predict/export'">
            </div>
        </div>
        <div id="drag">
            <div id="image_drop_area">
                <p id="txt">
                    Drag and drop an image
                    <br>
                    into the box
                </p>
            </div>
            <p id="file_name"></p>
            <div id="result">hello</div>
        </div>
        <input id="userid" style="display:none" value="{{userid}}">
    </div>
</body>
<script>
    const txt = document.querySelector("#txt");
    const result = document.querySelector("#result");
    const image_drop_area = document.querySelector("#image_drop_area");
    var uploaded_image;
    var userid = document.querySelector('#userid').value;

    // Event listener for dragging the image over the div
    image_drop_area.addEventListener('dragover', (event) => {
        event.stopPropagation();
        event.preventDefault();
        // Style the drag-and-drop as a "copy file" operation.
        event.dataTransfer.dropEffect = 'copy';
    });

    // Event listener for dropping the image inside the div
    image_drop_area.addEventListener('drop', (event) => {
        event.stopPropagation();
        event.preventDefault();
        fileList = event.dataTransfer.files;

        document.querySelector("#file_name").textContent = fileList[0].name;

        readImage(fileList[0]);
    });

    // Converts the image into a data URI
    readImage = (file) => {
        const reader = new FileReader();
        reader.onload = function (e) {
            var base64data = reader.result;
            console.log(base64data);
            img = base64data.replace("data:image/png;base64,", "");
            $.ajax({
                type: "POST",
                url: "/predict/camera/",
                contentType: "application/x-www-form-urlencoded; charset=utf-8",
                data: { "image": img, "userid": userid },
                dataType: "text"
            }).success(function (result) {
                console.log(result)
                $("#result").html(result);
            });
        }
        console.log(file);
        reader.addEventListener('load', (event) => {
            uploaded_image = event.target.result;
            document.querySelector("#image_drop_area").style.backgroundImage = `url(${uploaded_image})`;
            result.style.visibility='visible';
            txt.style.visibility='hidden';
        });
        reader.readAsDataURL(file);
    }

    const accuracy = document.querySelector('.accuracy');
    const accuracyB = document.querySelector('.accuracyB');
    const time = document.querySelector('.time');
    const timeB = document.querySelector('.timeB');

    accuracyB.addEventListener('click', () => {
        accuracy.style.display = 'none'
        time.style.display = 'block'
    })

    timeB.addEventListener('click', () => {
        accuracy.style.display = 'block'
        time.style.display = 'none'
    })
</script>

</html>