{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TRAIN</title>
    <link rel="stylesheet" href="{% static 'train.css' %}">
</head>
<body>
    <div class="bar">
        <div class="Userimg">
            <img src="{% static 'user_img.png' %}" style="width: 150px; height: 150px">
        </div>
        <div class="Userid">
            <u>{{userid}}</u>
        </div>
        <div class="Setting">
            <button type="button" id="setting" onclick="location.href='/setting'"> <img src="{% static 'setting_img.png' %}" style="width: 30px; height: 30px">
        </div>
        <div class="Logout">
            <input type="button" value="logout" onclick="location.href='/logout'">
        </div>
        <div class="Delete">
            <input type="button" value="Delete model">
        </div>
        <div class="Label">
            <input type="button" value="Label" onclick="location.href='/label'">
        </div>
        <div class="Train">
            <input type="button" value="Train" onclick="location.href='/train'">
        </div>
        <div class="Predict">
            <input type="button" value="Predict" onclick="location.href='/predict/camera'">
        </div>
        <div class="All">
            <button type="button" id="Allb">
                <div class="Alltxt">
                    All Images
                </div>
                <div class="Allprog">
                    <progress value="{{total}}" max="{{total}}" style="width: 225px; "></progress>
                </div>
                <div class="Allresult">
                    {{total}}
                </div>
            </button>
        </div>
        <div class="L1">
            <button type="button" id="L1B">
                <div class="Ltxt1">
                    {{label1}}
                </div>
                <div class="Result1">
                    {%if label1_images%}
                    {{label1_images|length}}
                    {%else%}
                    0
                    {%endif%}
                </div>
                <div class="Prog1">
                    <progress value="{%if label1_images%}{{label1_images|length}}{%else%}0{%endif%}" max="{{total}}"
                        style="width: 225px;"></progress>
                </div>
            </button>
        </div>
        <div class="L2">
            <button type="button" id="L2B">
                <div class="Ltxt2">
                    {{label2}}
                </div>
                <div class="Result2">
                    {%if label2_images%}
                    {{label2_images|length}}
                    {%else%}
                    0
                    {%endif%}
                </div>
                <div class="Prog2">
                    <progress value="{%if label2_images%}{{label2_images|length}}{%else%}0{%endif%}" max="{{total}}"
                        style="width: 225px;"></progress>
                </div>
            </button>
        </div>
        <div class="accuracy">
            <button type="button" class="accuracyB">
                <span class="percent">
                    100%
                </span>
                <span class="accuracytxt">
                    of images are predicted correctly
                </span>
            </button>
        </div>
        <div class="time">
            <button type="button" class="timeB">
                <span class="timetxt">
                    It took
                </span>
                <span class="T">
                    1000sec
                </span>
                <span class="timetxt">
                    to predict the images
                </span>
            </button>
        </div>
    </div>
    <div class="frame">
        <h1>Train</h1>
        <div class="Sort">
            <input type="button" value="Sort" id="Sort">
        </div>
        <div class="Sortmodal" >
            <button type="button" id="ascendingB" >
                <div class="ascendingbox">
                    <img src="{% static 'ascending.png' %}" style="width:40px;height:40px" id="ascendingicon">
                </div>
                <div class="ascendingtxt">
                    Sort Oldest to Newest
                </div>
            </button>
            <br>
            <button type="button" id="descendingB" >
                <div class="descendingbox">
                    <img src="{% static 'descending.png' %}" style="width:40px;height:40px" id="descendingicon">
                </div>
                <div class="descendingtxt">
                    Sort Newest to Oldest
                </div>
            </button>
            <button type="button" id="correctB">
                <div class="correctbox">
                    <img src="{% static 'correct.png' %}" style="width:35px;height:35px" id="correcticon">
                </div>
                <div class="correcttxt">
                    Sort Correct to Incorrect
                </div>
            </button>
            <button type="button" id="incorrectB">
                <div class="incorrectbox">
                    <img src="{% static 'incorrect.png' %}" style="width:35px;height:35px" id="incorrecticon">
                </div>
                <div class="incorrecttxt">
                    Sort Incorrect to Correct
                </div>
            </button>
            <div class="Sortx">
                <input type="button" value="x">
            </div>
        </div>

        <div class="labelwrap">
            <div id="Allimagestitle">
                <h2>All images</h2>
                <span id="Allimagescount">
                    0
                </span>
            </div>
            <div class="Allimages">
                
            </div>
            <div id="labeltitle1">
                <h2>{{label1}}</h2>
                <span id="labelcount1">
                    {{label1_correct}} / {{label1_len}}
                </span>
            </div>
            <div class="labeled1">
                
            </div>
            <div id="labeltitle2">
                <h2>{{label2}}</h2>
                <span id="labelcount2">
                    {{label2_correct}} /{{label2_len}}
                </span>
            </div>
            <div class="labeled2">
                
            </div>
        </div>
    </div>
    <script type="text/javascript" src="{% static 'train.js' %}"></script>
</body>
</html>